.card {
	border-radius: 10px;
	border: 1px solid #eeeeee;
}

.card-title {
  margin: 0;
	padding: 1rem;
	padding-bottom: 0;
	margin-bottom: 1rem;
}

.card-body {
	padding: 1rem;
	padding-top: 0;
	margin-top: 1rem;
}
