.root {
	.inputContainer {
		display: flex;
		flex-direction: column;
	}

	.errorAlert {
		background-color: rgba(255, 0, 0, 0.123);
		padding: 16px;
		border-radius: 8px;
		border: 1px solid rgba(255, 0, 0, 0.671);
		color: rgb(255, 89, 89);
		font-weight: 500;
	}
}
